/*section 1 styling*/

body, html {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding (if necessary) */
}

*{
    font-family: "roboto", sans-serif;
}

.section1{
    background-color: #1f2937;
    color: white;
    padding: 100px;
    display: flex;
}

.navBar{
    background-color: #1f2937;
    color: white; 
    display: flex;
}

#logo{
    height: 50px;
    flex: 4;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin-left: 70px;
}
.page{
    flex: 1;
    height: 50px;
}
a:link{
    color: white;
    text-decoration: none;
}
    
a:visited{
    color: white;
    text-decoration: none;
}

.image{
    height: 200px;
    flex: 1;
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;    
}

.heroText{
    height: 100px;
    flex: 2;
}

.heroText button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 100px;
    height: 30px;
}

.heroText button:hover{
    background-color: blue;
}

.heroText h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.heroText p{
    font-size: 18px;
    color: #e5e7eb;
}

/*section 2 styling */
.section2{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.section2 h2{
    color: black;
    font-size: 36px;
    font-weight: 900;
    padding: 100px;
    flex: 1;
}

.example{
    display: flex;
    flex-direction: row;
}

.example .item{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.example img{
    outline: solid 2px #3882F6;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    display: block;

}
.example p{ 
    margin: 20px;
}

/*{
    outline: 2px solid red;
}*/

/*section 3*/
.section3{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    padding: 100px;
    text-align: center;
}

/*section 4*/
.section4{
    background-color: white;
    display: flex;
    color: white;
    justify-content: center;
}

.signup{
    background-color: #3882F6;
    margin: 100px;
    height: 100px;
    width: 800px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.signup p{
    margin-left: 50px;
    flex: 4;
    width: 1000px;
}

.signup button{
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-radius: 5px;
    text-align: center;
    width: 50px;
    height: 30px;
    border: 1px solid;
    margin-right: 50px;
    flex: 1;
}

.signup button:hover{
    background-color: blue;
}

/*footer*/
.footer{
    background-color: #1f2937;
    color: white;
}